{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
