.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 5px;
}

[data-theme="dark"] .wrapper {
  background-color: #000;
  color: #fff;
}

[data-theme="light"] .wrapper {
  background-color: #fff;
  color: #333;
}
